{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% block content_title %}
    
{% endblock content_title %}
{% block content %}
    
{% endblock content %}
{% block sidebar %}
    
{% endblock sidebar %}


<!-- For adding custom classes to the body (base template) -->
{% block body_class %}{% endblock %}

<!-- Jinja block for extra navitems -->
{% block extra_nav %}{% endblock %}

 <!-- Usage flash('message','category-color') -->

<!-- Block for the page title -->
{% block content_title %}{% endblock %}